## Microsoft SQL Server Connectivity Using  Pandas

In [1]:
from sqlalchemy import create_engine
import pandas as pd

### Connection Variables

In [2]:
SERVER_ADDRESS = '*.*.*.*'
DATABASE_NAME = 'database name'
DRIVER_NAME = 'ODBC Driver 17 for SQL Server'
USER_NAME = 'sa'
PASSWORD = ''
DATABASE_CONNECTION = f'mssql+pyodbc://{USER_NAME}:{PASSWORD}@{SERVER_ADDRESS}/{DATABASE_NAME}?driver={DRIVER_NAME}'

### Create engine instance

In [7]:
engine = create_engine(DATABASE_CONNECTION)
connection = engine.connect()

In [9]:
data = pd.read_sql_query("select top 1 * from [abc].[dbo].[tModels]", connection)

In [16]:
data

Empty DataFrame
Columns: [ModelID, Name, ModelName, Description, CreatedBy, CreatedOn, ModifiedBy, ModifiedOn, IsActive, CategoryId]
Index: []